[submodule "RaspberryPi5/RaspberryPi5-Code/external/rplidar_sdk"]
	path = RaspberryPi5/RaspberryPi5-Code/external/rplidar_sdk
	url = https://github.com/Slamtec/rplidar_sdk.git
[submodule "RaspberryPiPico/TestV1/pico-sdk"]
	path = RaspberryPiPico/TestV1/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
